<?xml version="1.0"?>
<config>
    <modules>
        <Learn_Product_Flasher>
            <version>1.0.0</version>
        </Learn_Product_Flasher>
    </modules>
    <frontend>
        <layout>
            <updates>
                <productflasher>
                    <file>learn/productflasher.xml</file>
                </productflasher>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <productflasher>
                <class>Learn_Product_Flasher_Block</class>
            </productflasher>
        </blocks>
        <helpers>
            <productflasher>
                <class>Learn_Product_Flasher_Helper</class>
            </productflasher>
        </helpers>
        <models>
            <productflasher>
                <class>Learn_Product_Flasher_Model</class>
                <resourceModel>productflasher_mysql4</resourceModel>
            </productflasher>
        </models>
        <resources>
            <productflasher_setup>
                <setup>
                    <module>Learn_Product_Flasher</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productflasher_setup>
            <productflasher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productflasher_write>
            <productflasher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productflasher_read>
        </resources>
    </global>
    <admin>
        <routers>
            <productflasher>
                <use>admin</use>
                <args>
                    <module>Learn_Product_Flasher</module>
                    <frontName>productflasher</frontName>
                </args>
            </productflasher>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productflasher translate="title" module="productflasher"> 
                                            <title>Product Flasher Settings</title>
                                            <sort_order>50</sort_order>
                                        </productflasher>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <productflasher>
                    <file>learn/productflasher.xml</file>
                </productflasher>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <productflasher_save_product_data>
                        <type>singleton</type>
                        <class>productflasher/observer</class>
                        <method>saveProductTabData</method>
                    </productflasher_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
        <productflasher>
            <settings>
                <active>0</active>
                <background_color>008000</background_color>
                <title_text_color>000000</title_text_color>
                <subtitle_text_color>FFFFFF</subtitle_text_color>
                <animation_speed>8000</animation_speed>
            </settings>
        </productflasher>
    </default>
</config> 