#productflasher div.pftitle {float: left;padding-right: 5px;}
#productflasher span.pfsubtitle {float: left;padding-right: 5px;}
#productflasher_inner {padding: 8px;}
.productflasher_slide {padding: 0px 8px;}
#productflasher_inner {width: 918px;margin: 0 auto;padding: 8px 16px;}
/* #productflasher_inner {min-width: 950px;margin: 0 auto;padding: 8px 0px;} */